#optimise-container > div {
	display: inline-block;
	background: #e8e8e8;
	margin: 5px;
	padding: 5px;
}

#input-svg {
	width:800px;
	height:200px;
	border: 1px solid #888;
}

#output-container {
	white-space: pre-wrap;
	font-family: Fixed, 'Courier New', monospace;
	font-size: 12px;
}